@model List<MonPremierProjetAspnetCore.Models.Glace>

@{
    ViewData["Title"] = "Index";



}

<h1>Bienvenue chez yoda's'cream</h1>

<ul>
    @*
            Etape 1 : statique avec 3 images
            <li>
            <img src="http://img.over-blog.com/375x500/3/98/73/39/Fonds-d-ecran-Ipad/Deux-parfums-jpg-fond-d-ecran-gratuit-pour-Ipad-2-et-Ipad.jpeg" title="Ma glace préférée" alt="Ma glace préférée" />
        </li>
        <li>
            <img src="http://img.over-blog.com/375x500/3/98/73/39/Fonds-d-ecran-Ipad/Deux-parfums-jpg-fond-d-ecran-gratuit-pour-Ipad-2-et-Ipad.jpeg" title="Ma glace préférée" alt="Ma glace préférée" />
        </li>
        <li>
            <img src="http://img.over-blog.com/375x500/3/98/73/39/Fonds-d-ecran-Ipad/Deux-parfums-jpg-fond-d-ecran-gratuit-pour-Ipad-2-et-Ipad.jpeg" title="Ma glace préférée" alt="Ma glace préférée" />
        </li>*@

    @*Etape 2 : dynamiser *@
    @for (int i = 0; i < Model.Count; i++)
    {
        <partial name="_GlaceResumePartial" model="Model[i]" />
    }
</ul>

